<ion-view view-title="Agregar Usuario">
  <ion-content class="padding3">
    </br>  
    <div>	  
		<input style="margin-left:5.2%" type="text" ng-model="nombre" id="nombre" ng-disabled="bandera==true" placeholder="Escriba aquí su nombre..." required></br>
		<button style="margin-left:5.2%" class="button button-positive" ng-disabled="nombre==null" ng-if="bandera==false" ng-click="miBoton()">Guardar</button><br></br>
		<div align="center" ng-if="bandera==true">
			<a><img src="img/Agregado.png" width="100" height="100"></img></a>
			<h4><font color="white">Usuario agregado a la base de datos exitosamente!!</font></h4>
		</div>
    </div>
  </ion-content>
</ion-view>
