<ion-view view-title="Trivia: Mortal Kombat">
  <ion-content class="padding2">
    </br>
	<div align="center">
		<h3><font color="white">¿En qué año fue creado el primer Mortal Kombat?</font><h3></br>
		<button class="button button-positive" ng-click="respuestaIncorrecta()">1990</button><br></br>
		<button class="button button-positive" ng-click="respuestaIncorrecta()">1994</button><br></br>
		<button class="button button-positive" ng-click="respuestaCorrecta()">1992</button><br></br>
		<button class="button button-positive" ng-click="respuestaIncorrecta()">1996</button>
	</div>
  </ion-content>
</ion-view>
